<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>BlogLab</a>
        <button class="navbar-toggler" 
            data-toggle="collapse" 
            data-target="#navbarNav">
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div collapse="" class="collapse navbar-collapse" id="navbarNav" id="collapseBasic" [collapse]="isCollapsed">

        </div>

    </div>
</nav>